<a href="https://colab.research.google.com/github/BrenooOliveira/TVscrapping/blob/main/tests/app.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import requests
from bs4 import BeautifulSoup

# REQUISIÇÃO

In [158]:
BASE_URL = 'https://www.buscape.com.br/tv'
page = 1

In [159]:
url = f'{BASE_URL}?page={page}'
url

'https://www.buscape.com.br/tv?page=1'

In [160]:
r = requests.get(url)

In [161]:
r

# PARSEAMENTO, DIV MAIN E PRODUCT CARD

In [164]:
soup = BeautifulSoup(r.content,'html.parser')
#soup

In [165]:
#main_div é uma lista que por sua vez vai possuir entre os seus elementos todos as subdivs
main_div = soup.find_all('div',attrs={'class': 'Paper_Paper__4XALQ Paper_Paper__bordered__cl5Rh Card_Card__Zd8Ef Card_Card__clicable__ewI68 ProductCard_ProductCard__WWKKW'})

In [166]:
#entrando no "cartao" de cada produto
product_card = []
for i,v in enumerate(main_div):
  product_card.append(main_div[i].find_all('div',class_='ProductCard_ProductCard_Body__bnVUn'))

# NOMES DAS TV's

In [167]:

lst_names = []
# retirando o nome da TV no anuncio
for i,v in enumerate(product_card):
  # dentro de cada cartao, entramos na div que possui o nome dela
  name_obj = product_card[i][0].find_all('div', class_='ProductCard_ProductCard_NameWrapper__45Z01') # objeto que possui o nome
  name = name_obj[0].text # nome de fato

  lst_names.append(name)

In [168]:
lst_names

['Smart TV LED 50" Samsung Crystal 4K HDR UN50CU7700GXZD',
 'Smart TV LED 43" Samsung Crystal 4K HDR UN43CU8000GXZD',
 'Smart TV LED 65" Samsung Crystal 4K HDR UN65CU8000GXZD',
 'Smart TV LED 50" Samsung Crystal 4K HDR UN50CU8000GXZD',
 'Smart TV LED 32" HQ HQ324 (139)',
 'Smart TV LED 43" Samsung Crystal 4K HDR UN43CU7700GXZD',
 'Smart TV LED 55" LG ThinQ AI 4K HDR 55UR8750PSA',
 'Smart TV LED 50" TCL 4K HDR 50P635',
 'Smart TV LED 65" Samsung Crystal 4K HDR UN65CU7700GXZD',
 'Smart TV QLED 55" TCL 4K HDR 55C645',
 'Smart TV LED 55" Samsung Crystal 4K HDR UN55CU7700GXZD',
 'Smart TV QLED 55" Samsung 4K Quantum HDR QN55Q65CAGXZD',
 'Smart TV OLED Evo 55" LG ThinQ AI 4K HDR OLED55C3PSA',
 'Smart TV LED 75" Samsung Crystal 4K HDR UN75CU8000GXZD',
 'Smart TV Nano Cristal 65" LG 4K HDR 65NANO77SRA',
 'Smart TV LED 32" TCL Full HD HDR 32S5400AF',
 'Smart TV Nano Cristal 50" LG 4K HDR 50NANO77SRA',
 'Smart TV LED 32" Samsung HDR UN32T4300AGXZD',
 'Smart TV LED 43" LG ThinQ AI 4K HDR 43UR7800PSA',
 'Smart TV Nano Cristal 55" LG 4K HDR 55NANO77SRA',
 'Smart TV Neo QLED 50" Samsung 4K Quantum HDR QN50QN90CAGXZD',
 'Smart TV LED 50" LG ThinQ AI 4K HDR 50UR8750PSA',
 'Smart TV LED 43" AOC Full HD 43S5135/78G',
 'Smart TV LED 55" Samsung Crystal 4K HDR UN55CU8000GXZD']

# PREÇOS DAS TV's

In [174]:
lst_price = []
for i,v in enumerate(product_card):
  price_obj = product_card[i][0].find_all('p',class_='Text_Text__ARJdp Text_MobileHeadingS__HEz7L')
  lst_price.append(price_obj[0].text)

In [175]:
lst_price

['R$ 2.159,00',
 'R$ 1.799,10',
 'R$ 3.112,71',
 'R$ 2.259,00',
 'R$ 849,00',
 'R$ 1.789,00',
 'R$ 2.399,00',
 'R$ 1.749,44',
 'R$ 3.199,98',
 'R$ 2.469,05',
 'R$ 2.398,98',
 'R$ 2.999,00',
 'R$ 5.799,00',
 'R$ 4.844,05',
 'R$ 3.383,10',
 'R$ 1.039,00',
 'R$ 2.326,55',
 'R$ 1.016,10',
 'R$ 1.799,00',
 'R$ 2.499,00',
 'R$ 3.899,00',
 'R$ 2.249,10',
 'R$ 1.424,05',
 'R$ 2.499,00']

# POLEGADAS
- vamos usar o " como delimitador e supomos que as polegadas têm 2 algarismos

In [222]:
lst_pol = []
for i in lst_names:
  delimitador = i.find('"')
  lst_pol.append(i[(delimitador - 2):delimitador])

In [ ]:
lst_pol

# MARCA
- exemplo: Smart TV LED 65" HQ 4K HDR HQS65NKH
  - usaremos o " como delimitador e o espaço em branco como delimitador final

In [232]:
lst_marcas = []
for i in lst_names:
  first_delimitador = (i.find('"'))+2
  print(a := i[first_delimitador:])

Samsung Crystal 4K HDR UN50CU7700GXZD
Samsung Crystal 4K HDR UN43CU8000GXZD
Samsung Crystal 4K HDR UN65CU8000GXZD
Samsung Crystal 4K HDR UN50CU8000GXZD
HQ HQ324 (139)
Samsung Crystal 4K HDR UN43CU7700GXZD
LG ThinQ AI 4K HDR 55UR8750PSA
TCL 4K HDR 50P635
Samsung Crystal 4K HDR UN65CU7700GXZD
TCL 4K HDR 55C645
Samsung Crystal 4K HDR UN55CU7700GXZD
Samsung 4K Quantum HDR QN55Q65CAGXZD
LG ThinQ AI 4K HDR OLED55C3PSA
Samsung Crystal 4K HDR UN75CU8000GXZD
LG 4K HDR 65NANO77SRA
TCL Full HD HDR 32S5400AF
LG 4K HDR 50NANO77SRA
Samsung HDR UN32T4300AGXZD
LG ThinQ AI 4K HDR 43UR7800PSA
LG 4K HDR 55NANO77SRA
Samsung 4K Quantum HDR QN50QN90CAGXZD
LG ThinQ AI 4K HDR 50UR8750PSA
AOC Full HD 43S5135/78G
Samsung Crystal 4K HDR UN55CU8000GXZD

In [235]:
#a[0:i for i in a if i is not " "]

for i in a:
  print()

SyntaxError: invalid syntax (<ipython-input-235-040bd3fc541e>, line 1)

# montagem do df

In [224]:
df = {'televisores': lst_names,
      'precos': lst_price,
      'polegadas':lst_pol}

In [225]:
import pandas as pd

In [226]:
pd.DataFrame(df)

                                          televisores       precos polegadas
0   Smart TV LED 50" Samsung Crystal 4K HDR UN50CU...  R$ 2.159,00        50
1   Smart TV LED 43" Samsung Crystal 4K HDR UN43CU...  R$ 1.799,10        43
2   Smart TV LED 65" Samsung Crystal 4K HDR UN65CU...  R$ 3.112,71        65
3   Smart TV LED 50" Samsung Crystal 4K HDR UN50CU...  R$ 2.259,00        50
4                     Smart TV LED 32" HQ HQ324 (139)    R$ 849,00        32
5   Smart TV LED 43" Samsung Crystal 4K HDR UN43CU...  R$ 1.789,00        43
6     Smart TV LED 55" LG ThinQ AI 4K HDR 55UR8750PSA  R$ 2.399,00        55
7                  Smart TV LED 50" TCL 4K HDR 50P635  R$ 1.749,44        50
8   Smart TV LED 65" Samsung Crystal 4K HDR UN65CU...  R$ 3.199,98        65
9                 Smart TV QLED 55" TCL 4K HDR 55C645  R$ 2.469,05        55
10  Smart TV LED 55" Samsung Crystal 4K HDR UN55CU...  R$ 2.398,98        55
11  Smart TV QLED 55" Samsung 4K Quantum HDR QN55Q...  R$ 2.999,00        55
12  Smart TV OLED Evo 55" LG ThinQ AI 4K HDR OLED5...  R$ 5.799,00        55
13  Smart TV LED 75" Samsung Crystal 4K HDR UN75CU...  R$ 4.844,05        75
14    Smart TV Nano Cristal 65" LG 4K HDR 65NANO77SRA  R$ 3.383,10        65
15         Smart TV LED 32" TCL Full HD HDR 32S5400AF  R$ 1.039,00        32
16    Smart TV Nano Cristal 50" LG 4K HDR 50NANO77SRA  R$ 2.326,55        50
17        Smart TV LED 32" Samsung HDR UN32T4300AGXZD  R$ 1.016,10        32
18    Smart TV LED 43" LG ThinQ AI 4K HDR 43UR7800PSA  R$ 1.799,00        43
19    Smart TV Nano Cristal 55" LG 4K HDR 55NANO77SRA  R$ 2.499,00        55
20  Smart TV Neo QLED 50" Samsung 4K Quantum HDR Q...  R$ 3.899,00        50
21    Smart TV LED 50" LG ThinQ AI 4K HDR 50UR8750PSA  R$ 2.249,10        50
22           Smart TV LED 43" AOC Full HD 43S5135/78G  R$ 1.424,05        43
23  Smart TV LED 55" Samsung Crystal 4K HDR UN55CU...  R$ 2.499,00        55